html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.search-container #city {
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #1b4b7e;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}

#loading {
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
  font-size: 24px;
  color: #1b4b7e;
}

.weather-info {
  margin-top: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details .detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 40px; 
  height: 40px; 
  margin-right: 10px; 
}

#weatherIcon {
  width: 90px;
  height: 80px;
}

.imageText {
  display: flex;
  align-items: center;
  margin: 0;
}

#location {
  font-weight: bold;
  justify-content: center;
  margin-bottom: 30px;
}

#locationImg {
  display: flex;
  align-items: center;
}
